div {
    margin: 40px 15px 40px 15px;
}

.card-header {
    margin-bottom: 0%;
    color: white;
    background-color: #04AA6D;
}

.card {
    padding: 10px;
    box-shadow: 5px 10px #b9d0b5;
}

.mb-3 {
    margin: 0%;
}

.card-body {
    margin-top: 0%;
}

.two {
    text-align: center;
}