.container-card {
    margin: 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mat-card-title {
    font-family: 'Lucida Sans';
    font-weight: 20px;

}

.container-header {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    font-family: cursive;
    text-align: justify;
    text-shadow: 2px 2px rgb(219, 205, 158);
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}