<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="appointmentDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.appointmentDate.errors }">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <div *ngIf="submitted && f.appointmentDate.errors" class="invalid-feedback">
            <div *ngIf="f.appointmentDate.errors.required">Appointment Date is required</div>
        </div>
    </div>
    <div>
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Submit
        </button>
    </div>
</form>
<mat-card *ngIf="this.appointmentListFilter.length == 0">
    <h2>No Appointments Booked</h2>    
</mat-card>
<div *ngFor="let item of appointmentListFilter;">
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <div class="doctor-card-header-text">
                <mat-card-title>{{this.getPatientName(item.patientId)}}</mat-card-title>
            </div>
        </div>        
        <mat-card-content>
            <h5>Reason for Visit : {{item.reasonForVisit}}</h5>
            <p>{{item.appointmentDate}} ~ {{item.appointmentTime}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-raised-button color="primary" (click)="prescriptionDetails(item)" >Add Prescription</button>
            <button mat-button mat-stroked-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
</div>