mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 360px;
    overflow: hidden;
    position: relative;
    margin: 40px auto;
    background-color: rgb(232, 231, 231);
    /* center horizontally */
}


img {
    width: 100%;
}

.slider-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

button {
    background-color: rgba(255, 216, 216, 0.1);
    color: #ffffff;
}

.align-button {
    width: 100%;
}

.button-grid {
    width: 80%;
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.height {
    margin-top: 20px;
}

.button-item {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.last {
    display: flex;
    flex-direction: column;
    align-items: center;
}