->{{this.appointmentWithPrecription | json}}



<div>
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
    <mat-card class="doctor-card">
        <div class="doctor-card-header">
            <img mat-card-avatar class="doctor-card-avatar" src=""
                alt="Doctor Profile Picture">
            <div class="doctor-card-header-text">
                <mat-card-title>Dr. Mohamed Zakir Husain</mat-card-title>
            </div>
        </div>
        <mat-card-content>
            <h5>Specialty: Cardiology</h5>
            <p>24 Jan 2023 ~ Sundar</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">View Prescription</button>
            <button mat-button mat-raised-button color="primary">Book Follow-Up</button>
        </mat-card-actions>
    </mat-card>
</div>