<p>list-doctor works!</p>
<h1>Doctors</h1>
<a routerLink="/addDoctor" class="btn btn-sm btn-success mb-2">Add Doctor</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">UserName</th>            
            <th style="width: 15%">Password</th>
            <th style="width: 15%">specialist</th>
            <th style="width: 15%">degree</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doc of doctorList">
            <td>{{doc.title}} {{doc.firstName}} {{doc.lastName}}</td>
            <td>{{doc.userName}}</td>            
            <td>{{doc.password}}</td>
            <td>{{doc.specialist}}</td>
            <td>{{doc.degree}}</td>
            <td style="white-space: nowrap">
                <!-- <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a> -->
                <button (click)="deleteDoctor(doc.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="doc.isDeleting">
                    <span *ngIf="doc.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!doc.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!doctorList">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>