<!-- <p>add-prescription works!</p>

asddaaaaaaaaaa
----{{this.selectedAppointId}}


<a routerLink="/doctor" class="btn btn-link">Cancel</a> -->

<mat-card>
  <h1> Patient Details</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          First name : {{ this.patientDetails.firstName }}
        </th>
        <th>
          Last name : {{ this.patientDetails.lastName }}
        </th>
      </tr>
    </thead>
  </table>
</mat-card>
<mat-card>
  <h1> Appointment Details</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Date : {{ this.appointmentDetails.appointmentDate }}
        </th>
        <th>
          Time : {{ this.appointmentDetails.appointmentTime }}
        </th>
      </tr>
      <tr>
        <th>
          <label class="form-label">Temperature</label>
          <input type="text" [(ngModel)]="temperature" class="form-control" />
        </th>
        <th>
          <label class="form-label">Pulse</label>
          <input type="text" [(ngModel)]="pulse" class="form-control" />
        </th>
      </tr>
      <tr>
        <th colspan="2">
          Reason for Visit : {{ this.appointmentDetails.reasonForVisit }}
        </th>
      </tr>
      <tr>
        <th colspan="2">
          <label class="form-label">Remarks</label>
          <input type="text" [(ngModel)]="remarks" class="form-control" />
        </th>
      </tr>
    </thead>
  </table>
</mat-card>
&nbsp;
<mat-card>
  <button mat-button mat-raised-button color="primary" (click)="addRow()">Add Medicine</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 15%">Action</th>
        <th style="width: 40%">Medicine</th>
        <th style="width: 15%">Morning</th>
        <th style="width: 15%">Noon</th>
        <th style="width: 15%">Night</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dynamic of dynamicArray; let i = index;">
        <td style="white-space: nowrap">
          <button mat-mini-fab color="warn" (click)="deleteRow(i)" class="btn btn-sm btn-danger btn-delete-user">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td>
          <div class="mb-3">
            <select class="form-control" name="{{dynamic.medicine}}" [(ngModel)]="dynamic.medicine">
              <option value="">Choose Medicine</option>
              <option value="">Paracetemol</option>
              <option value="">Metformin</option>
              <option value="">Zestril</option>
              <option value="">Synthroid</option>
              <option value="">Glucophage</option>
              <option value="">Zocor</option>
              <option value="">Prilosec</option>
              <option value="">Norvasc</option>
              <option value="">Lopressor</option>
              <option value="">Ventolin</option>
              <option value="">Metoprolol</option>
              <option value="">Acetaminophen</option>
              <option value="">Albuterol</option>
              <option value="">Hydrocodone</option>
              <option value="">Gabapentin</option>
              <option *ngFor="let med of medicineList" [ngValue]="med.medicineName">{{med.medicineName}}</option>
            </select>
          </div>
        </td>
        <td>
          <p><mat-checkbox name="{{dynamic.morning}}" [(ngModel)]="dynamic.morning"></mat-checkbox></p>
        </td>
        <td>
          <p><mat-checkbox name="{{dynamic.noon}}" [(ngModel)]="dynamic.noon"></mat-checkbox></p>
        </td>
        <td>
          <p><mat-checkbox name="{{dynamic.night}}" [(ngModel)]="dynamic.night"></mat-checkbox></p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="two">
    <button (click)="savePrescription()" class="btn btn-primary">
      Save
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button routerLink="/dashboard" class="btn btn-danger">Cancel</button>
  </div>
</mat-card>

<!-- <table >
    <thead>
    <tr>
      <td class="tdBorderEmail"><label>Action</label></td>
      <td class="tdBorderEmail"><label>First Name</label></td>
      <td class="tdBorderEmail"><label>Last Name</label></td>
      <td class="tdBorderEmail"><label>Email</label></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dynamic of dynamicArray; let i = index;">
      <td>
        <button class="fa fa-plus " (click)="deleteRow(i)">Delete</button>
      </td>
      <td>
        <input style="width:120px"  name="{{dynamic.firstName}}" [(ngModel)]="dynamic.firstName"  type="text" />
      </td>
      <td>
        <input style="width:120px" name="{{dynamic.lastName}}" [(ngModel)]="dynamic.lastName"  type="text" />
      </td>
      <td>
        <input  style="width:250px" name="{{dynamic.emailAddress}}" [(ngModel)]="dynamic.emailAddress"  type="email"/>
      </td>
    </tr>
    <tr>
      <td>
        <button class="fa fa-plus " (click)="addRow()">Add</button>
      </td>
      <td>
        <button class="fa fa-plus " (click)="getValues()">Get data</button>
      </td>
    </tr>
    </tbody>
    </table> -->
<!-- <div>{{dynamicArray | json}}</div> -->